/* Colors for Website:
 * #D8D2E1 - Light Purple
 * #363732 - Warm Black
 * #DCEAB2 - Pale Green
 * #A30B37 - Saturated red
 * #BD6B73 - Dusty Pink
 */
body {
  background-color: #D8D2E1; /* Purple */
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 80px;
  margin-left: 80px;
}

p, h2 {
  color: #363732; /* Black */
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 12pt;
}

h1 {
  font-size: 64pt;
  font-family: "Times New Roman", Times, serif;
}

#display {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

#flextest {
  flex-grow: 4;
  align-self: flex-end;
}
